<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
	  Id="*"
    Language="1033"
    Name="Whisper"
    Version="!(bind.FileVersion.Whisper.exe)"
    Manufacturer="eliette.priaulx.co"
    UpgradeCode="c2bba211-821f-42c6-97cb-14ae773ab457">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="no" IgnoreRemoveFailure="no" Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of Whisper is already installed." />
    <Media Id='1' Cabinet='WhisperDesktop.cab' EmbedCab='yes' />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR">INSTALLFOLDER</Property>
    <WixVariable Id="WixUILicenseRtf" Value="..\Assets\InstallerLicence.rtf" />
    <Feature Id="ProductFeature" Title="Whisper.Installers.Desktop" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="WhisperDesktop" />
    </Feature>
    <Icon Id="WhisperIcon.ico" SourceFile="..\Assets\Icon\WhisperIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="WhisperIcon.ico" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Whisper" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Whisper"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="Whisper.exe" Guid="{8c0ca03f-6fa0-4327-8e4c-322728e6c303}">
        <File Id="Whisper.exe" Source="$(var.HarvestPath)\Whisper.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Whisper.exe.config" Guid="{DE9F0BA4-927D-4D86-86BF-13D366ACCF57}">
        <File Id="Whisper.exe.config" Source="$(var.HarvestPath)\Whisper.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="4eb980ab-8c04-4a7e-b8c1-f14fefdbd583">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Whisper" Description="Clipboard Content Generator" Target="[!Whisper.exe]" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Whisper" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="Whisper.exe" />
      <ComponentRef Id="Whisper.exe.config" />
      <ComponentRef Id="ApplicationShortcut" />
    </ComponentGroup>
  </Fragment>

</Wix>
